<?xml version="1.0" encoding="utf-8" ?> 
<configuration> 
  <appSettings> 
    <add key="Raven/BackgroundTasksPriority" value="*"/> 
	<!--What thread priority to give the various background tasks RavenDB uses (mostly for indexing)-->
	<!--Allowed values: Lowest, BelowNormal, Normal, AboveNormal, Highest-->
	<!--Default: Normal-->

<add key="Raven/MaxPageSize" value="1024"/> 
	<!--The maximum allowed page size for queries.-->
	<!--Default: 1024-->
	<!--Minimum: 10-->

<add key="Raven/MemoryCacheExpiration" value="300"/> 
	<!--The expiration value for documents in the internal document cache. Value is in seconds. Default: 5 minutes-->

	<!--Index settings-->

<add key="Raven/IndexStoragePath" value="E:/RavenData"/> 
	<!--The path to the indexes that are kept on disk. Putting them in a different drive than the actual data will improve performance significantly.-->
	<!--_Default_: ~/Data/Indexes-->

<add key="Raven/SkipCreatingStudioIndexes" value="false"/> 
	<!--Set to true, tells RavenDB NOT to create the indexes that are used by the Management Studio to provide some Collection related features.-->
	<!--Allowed values: true/false-->
	<!--Default: false-->

<add key="Raven/MaxNumberOfParallelIndexTasks" value="4"/> 
	<!--The maximum number of indexing tasks allowed to run in parallel-->
	<!--Default: the number of processors in the current machine-->

<add key="Raven/MaxNumberOfItemsToIndexInSingleBatch" value="2500"/> 
	<!--Max number of items to take for indexing in a batch-->
	<!--Default: 2500-->
	<!--Minimum: 128-->

<add key="Raven/TempIndexPromotionMinimumQueryCount" value="100"/> 
	<!--How many times a temporary, auto-generated index has to be accessed before it can be promoted to be a permanent one-->
	<!--Default: 100-->

<add key="Raven/TempIndexPromotionThreshold" value="6000"/> 
	<!--Time (in milliseconds) the index has to be queried at least once in order for it to become permanent-->
	<!--Default: 60000 (once per minute)-->

<add key="Raven/TempIndexCleanupPeriod" value="600"/> 
	<!--How often to run the temporary index cleanup process (in seconds)-->
	<!--Default: 600 (10 minutes)-->

<add key="Raven/TempIndexCleanupThreshold" value="1200"/> 
	<!--How much time in seconds to wait after a temporary index has been used before removing it if no further calls were made to it during that time-->
	<!--Default: 1200 (20 minutes)-->

<add key="Raven/TempIndexInMemoryMaxMB" value="25"/> 
	<!--Temp indexes are kept in memory until they reach this integer value in MB-->
	<!--Default: 25 MB-->
	<!--Minimum: 1 MB-->

	<!--Data settings:-->

<add key="Raven/RunInMemory" value="false"/> 
	<!--Should RavenDB's storage be in-memory. If set to true, Munin would be used as the storage engine, regardless of what was specified for StorageTypeName-->
	<!--Allowed values: true/false-->
	<!--Default: false-->

<add key="Raven/DataDir" value="E:/RavenData"/> 
	<!--The directory for the RavenDB database. You can use the ~\ prefix to refer to RavenDB's base directory.-->
	<!--Default: ~\Data-->

<add key="Raven/StorageTypeName" value="esent"/> 
	<!--What storage type to use (see: RavenDB Storage engines)-->
	<!--Allowed values: esent, munin (at this point of time only Esent is fully supported by RavenDB)-->
	<!--Default: esent-->

<add key="Raven/TransactionMode" value="Safe"/> 
	<!--What sort of transaction mode to use-->
	<!--Allowed values: Lazy (faster, but can result in data loss in the case of server crash), Safe (slower, but will never lose data)-->
	<!--Default: Safe-->

	<!--Http settings-->

<!--  <add key="Raven/HostName" value=""/> --> 
	<!--The hostname to use when creating the http listener (null to accept any hostname or address)-->
	<!--Default: none, binds to all host names-->

<add key="Raven/Port The port to use when creating the http listener." value="8080"/> 
	<!--Default: 8080-->

<add key="Raven/VirtualDirectory" value="/"/> 
	<!--The virtual directory to use when creating the http listener.-->
	<!--Default: /-->

<add key="Raven/HttpCompression" value="true"/> 
	<!--Whether to use http compression or not-->
	<!--Allowed values: true/false-->
	<!--Default: true-->

<add key="Raven/AccessControlAllowOrigin" value="null"/> 
	<!--Determine the value of the Access-Control-Allow-Origin header sent by the server-->
	<!--Allowed values: null (don't send the header), *, http://example.org-->

<add key="Raven/AnonymousAccess" value="Get"/> 
	<!--Defines which operations are allowed for anonymous users-->
	<!--Allowed values: All, Get, None-->
	<!--Default: Get-->

	<!--Misc settings-->

<add key="Raven/PluginsDirectory" value="~\Plugins"/> 
	<!--Where to look for plugins for RavenDB-->
	<!--Default: ~\Plugins-->

<add key="Raven/WebDir" value="~/Raven/WebUI"/> 
	<!--The directory to search for RavenDB's WebUI. This is usually only useful if you are debugging RavenDB's WebUI-->
	<!--Default: ~/Raven/WebUI-->

<add key="Raven/Authorization/Windows/RequiredGroups" value="*"/> 
	<!--Limit the users that can authenticate to RavenDB to only users in the specified groups. Multiple groups can be specified, separated by a semi column (;).-->

	<!--Esent settings-->

<add key="Raven/Esent/CacheSizeMax" value="1024"/> 
	<!--The maximum size of the in memory cache that is used by the storage engine. The value is in megabytes.-->
	<!--Default: 1024-->

<add key="Raven/Esent/MaxVerPages" value="128"/> 
	<!--The maximum size of version store (in memory modified data) available. The value is in megabytes.-->
	<!--Default: 128-->

<add key="Raven/Esent/DbExtensionSize" value="16"/> 
	<!--The size that the database file will be enlarged with when the file is full. The value is in megabytes. Lower values will result in smaller file size, but slower performance.-->
	<!--Default: 16-->

<add key="Raven/Esent/LogFileSize" value="64"/> 
	<!--The size of the database log file. The value is in megabytes.-->
	<!--Default: 64-->

<add key="Raven/Esent/LogBuffers" value="16"/> 
	<!--The size of the in memory buffer for transaction log.-->
	<!--Default: 16-->

<add key="Raven/Esent/MaxCursors" value="2048"/> 
	<!--The maximum number of cursors allowed concurrently.-->
	<!--Default: 2048-->

<add key="Raven/Esent/LogsPath" value="E:/RavenData/Logs"/> 
	<!--Where to keep the Esent transaction logs. Putting the logs in a different drive than the data and indexes will improve performance significantly.-->
	<!--_Default_: ~/Data/logs-->

<add key="Raven/Esent/CircularLog" value="true"/> 
	<!--Whether or not to enable circular logging with Esent.-->
	<!--_Default_: true-->
  </appSettings> 
        <runtime> 
                <loadFromRemoteSources enabled="true"/> 
                <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
                        <probing privatePath="Analyzers"/> 
                </assemblyBinding> 
        </runtime> 
</configuration>